
.ipynb_checkpoints/TeamScholasticCrush-checkpoint.ipynb
.ipynb_checkpoints/TeamScholasticCrush-checkpoint.ipynb
.ipynb_checkpoints/TeamScholasticCrush-checkpoint.ipynb
.ipynb_checkpoints/TeamScholasticCrush-checkpoint.ipynb
